.container_principal {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

image-profyle {
  margin-top: 100px;
}

.profyle {
  margin: 0;
  text-align: justify;
}

#button_coffe {
  display: none;
}

.container_coffe {
  position: fixed;
  bottom: 50px;
  left: 50px;
}

.card-coffe {
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}

#button_coffe:checked ~ .card-coffe {
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}

.imag_coffe, .card-coffe{
  transition: all 700ms ease;
}
